In [66]:
import numpy as np
import numpy_financial as npf
import pandas as pd
import seaborn as sns
from sympy import *
df = pd.read_csv("m134_4.csv")

import warnings

# Configuration
warnings.simplefilter('ignore')
pd.set_option('max_column', None)
sns.set_style("darkgrid")
colors = sns.color_palette('Set2')

### Q11

In [67]:
year = [0,1,2,3,4,5,6]
stream = [-40,10,10,10,10,10,10]
s = [np.nan, 5.0, 5.3, 5.6, 5.8, 6.0, 6.1]
spot = [i/100 for i in s]

In [68]:
new_list = [year, stream, spot]

df = pd.DataFrame(new_list).transpose()
df.columns = ['year','stream', 'spot_r']
df

   year  stream  spot_r
0   0.0   -40.0     NaN
1   1.0    10.0   0.050
2   2.0    10.0   0.053
3   3.0    10.0   0.056
4   4.0    10.0   0.058
5   5.0    10.0   0.060
6   6.0    10.0   0.061

In [69]:
df["discount_r"] = 1 / (1 + df["spot_r"])**df["year"]

In [70]:
df

   year  stream  spot_r  discount_r
0   0.0   -40.0     NaN    1.000000
1   1.0    10.0   0.050    0.952381
2   2.0    10.0   0.053    0.901869
3   3.0    10.0   0.056    0.849197
4   4.0    10.0   0.058    0.798100
5   5.0    10.0   0.060    0.747258
6   6.0    10.0   0.061    0.700983

In [72]:
#numpy.npv(rate, values)
npv = np.npv(df["spot_r"], df["stream"])
print("npv: ", npv)

npv:  9.497876784246987

In [ ]:
df[""]

### Q15

In [10]:
df["spot_r"] = [i*.01 for i in df["spot"]]
# df["discount"] = [1/(1+i) for i in df["spot_r"]]
df["discount_r"] = 1 / (1 + df["spot_r"])**df["year"]
df["PV"] = df["stream"] * df["discount_r"]
df["mD"] = df["PV"] / sum(df["PV"])
df["qD"] = df["stream"]*df["year"]/(1+df["spot_r"])**[i+1 for i in df["year"]]
D_obl = sum(df["PV"]) / sum(df["qD"])
print(sum(df["qD"])/sum(df["PV"]))
print(sum(df["qD"]))
print(sum(df["qD"])/sum(df["PV"]))
print(sum(df["PV"]))

2.4354491434287118
5428.898194560004
2.4354491434287118
2229.115811844467

In [19]:
a = np.array([[65.98, 101.66], [65.98*7.11, 101.66*3.80]])
b = np.array([sum(df["PV"]), sum(df["PV"])*sum(df["qD"])/sum(df["PV"])])
x = np.linalg.solve(a,b)
x

array([-13.92778499,  30.96666403])